# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment files
.env
.env.*
!.env.example

# logs
*.log

# testing
/coverage

# system and editor files
.DS_Store
Thumbs.db
.idea
.vscode

# typescript
*.tsbuildinfo
next-env.d.ts

# generated Prisma client
/src/generated/prisma
